.table-column, .text-field {
    -fx-alignment: center
}

.table-row-cell:last-row {
    -fx-border-width: 0 0 2px 0;
    -fx-border-style: solid
}

.table-row-cell {
    -fx-cell-size: 2em
}

.sum-table .scroll-bar:horizontal{
    -fx-padding:0px;
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;

}