.table-column, .text-field {
    -fx-alignment: center
}

.table-row-cell:last-row {
    -fx-border-width: 0 0 2px 0;
    -fx-border-style: solid
}

.sum-table .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}