.root, .root.popup { 
    -fx-accent: #bfbfbf ;
    -fx-focus-color: -fx-accent;
    -fx-base: #373e43;
    -fx-faint-focus-color: #efefef22;
    -fx-control-inner-background: derive(-fx-base, 20%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}

.text-field {
    -fx-highlight-text-fill: derive(-fx-base, 20%);
}

.table-row-cell:even{    
    -fx-control-inner-background: derive(-fx-base, 10%);
}

.table-row-cell:odd{    
    -fx-control-inner-background: derive(-fx-base, 15%);
}

.temp * {
    -fx-fill: white;
}